@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p> You can make shopping list and add items to shopping list</p>
    <a asp-controller="Carts" asp-action="Index"> Here</a>
</div>
